ablog==0.10.5
actdiag==2.0.0
alabaster==0.7.12
arrow==0.15.6
Babel==2.8.0
blockdiag==2.0.1
certifi==2022.12.7
chardet==3.0.4
cloud-sptheme==1.10.1.post20200504175005
docutils==0.16
funcparserlib==0.3.6
humanize==2.4.0
idna==2.9
imagesize==1.2.0
invoke==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
nwdiag==2.0.0
packaging==20.3
pathtools==0.1.2
pdfrw==0.4
Pillow==7.1.2
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
reportlab==3.5.42
requests==2.23.0
rst2pdf==0.97
seqdiag==2.0.0
six==1.14.0
smartypants==2.0.1
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-automodapi==0.12
sphinx-rtd-theme==0.4.3
sphinxcontrib-actdiag==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-plantuml==0.18
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.9
watchdog==0.10.2
webcolors==1.11.1
Werkzeug==0.16.1
