-i https://pypi.org/simple/
ablog==0.10.5
actdiag==2.0.0
alabaster==0.7.12
arrow==0.15.6
babel==2.9.0
blockdiag==2.0.1
certifi==2020.12.5
chardet==4.0.0
cloud-sptheme==1.10.1.post20200504175005
docutils==0.16
funcparserlib==0.3.6
humanize==2.4.0
idna==2.10
imagesize==1.2.0
invoke==1.5.0
jinja2==2.11.3
markupsafe==1.1.1
nwdiag==2.0.0
packaging==20.9
pdfrw==0.4
pillow==8.1.2
pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
reportlab==3.5.66
requests==2.25.1
rst2pdf==0.97
seqdiag==2.0.0
six==1.15.0
smartypants==2.0.1
snowballstemmer==2.1.0
sphinx-automodapi==0.13
sphinx-rtd-theme==0.4.3
sphinx==3.0.3
sphinxcontrib-actdiag==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-plantuml==0.18
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.26.4
watchdog==2.0.2
webcolors==1.11.1
werkzeug==0.16.1
