==============================================================
You can use python jinja2 template formatter to generate pages
==============================================================

This page was generated on {{ generated_date }}.
